body {
  background: lightslategray;
}
.home {
  background: #ffffff;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.chat-item {
  background: ghostwhite;
  padding: 5px 10px;
  margin: 5px 0px;
  display: block;
}
footer {
  background: #efefef;
  height: 50px;
  flex: 0 0 auto;
  margin: 0 -15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  color: #555555;
  letter-spacing: 0.1em;
}

.home .row {
  flex-grow: 2;
}
